{% extends 'base.html' %}

{% block title %}
    Shoes inc
{% endblock %}

{% block content %}
    <div style="font-family: 'Montseratt', serif; position: absolute;z-index: 100; margin-left: 3%; margin-top: 3%; color: purple">
        <b style="font-size: 13dvb">Магазин обуви</b><br>
        <b style="font-size: 3dvb">Добро пожаловать! Мы рады приветствовать всех, кто зашел к нам!<br>Мы предлагаем самые низкие цены, дешевле
            вы не найдете</b>
    </div>
    <img src="/media/Монтажная%20область%202.png" alt="Кроссовки"
         style="position: relative;width: 1100px;left: 20%;right: 0;mix-blend-mode: hard-light;">
{% endblock %}